.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.768555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.202148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.202148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.097168;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.008000px;}
._1{width:1.032000px;}
.fc2{color:rgb(47,84,150);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:32.000000px;}
.fs2{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.y1{bottom:0.000000px;}
.y7{bottom:3.000000px;}
.y9{bottom:3.020000px;}
.y1f{bottom:3.030000px;}
.y63{bottom:3.240000px;}
.ye{bottom:3.250000px;}
.y32{bottom:3.260000px;}
.y3a{bottom:3.270000px;}
.y72{bottom:3.280000px;}
.yb{bottom:3.500000px;}
.yf{bottom:3.750000px;}
.y2b{bottom:4.250000px;}
.y31{bottom:4.260000px;}
.y39{bottom:4.270000px;}
.y12{bottom:7.770000px;}
.y13{bottom:8.520000px;}
.y65{bottom:17.750000px;}
.y62{bottom:17.990000px;}
.y6d{bottom:18.000000px;}
.y78{bottom:18.020000px;}
.y35{bottom:78.000000px;}
.y5f{bottom:78.275000px;}
.y0{bottom:80.000000px;}
.y34{bottom:80.275000px;}
.y60{bottom:85.000000px;}
.y84{bottom:85.525000px;}
.y5e{bottom:93.525000px;}
.y33{bottom:95.275000px;}
.y83{bottom:100.770000px;}
.y5d{bottom:108.770000px;}
.y30{bottom:110.520000px;}
.y82{bottom:115.770000px;}
.y5c{bottom:123.800000px;}
.y2f{bottom:125.800000px;}
.y81{bottom:131.050000px;}
.y5b{bottom:139.050000px;}
.y2e{bottom:140.800000px;}
.y80{bottom:146.050000px;}
.y9a{bottom:150.300000px;}
.y5a{bottom:154.050000px;}
.y2d{bottom:156.050000px;}
.y7f{bottom:161.300000px;}
.y59{bottom:169.300000px;}
.y99{bottom:170.050000px;}
.y2c{bottom:171.050000px;}
.y7e{bottom:176.550000px;}
.y2a{bottom:186.300000px;}
.y7d{bottom:191.550000px;}
.y98{bottom:193.800000px;}
.y58{bottom:196.800000px;}
.y29{bottom:201.550000px;}
.y7c{bottom:206.830000px;}
.y28{bottom:215.330000px;}
.y97{bottom:217.830000px;}
.y57{bottom:220.580000px;}
.y7b{bottom:221.830000px;}
.y27{bottom:229.330000px;}
.y85{bottom:229.500000px;}
.y96{bottom:229.830000px;}
.y56{bottom:232.580000px;}
.y7a{bottom:237.080000px;}
.y26{bottom:243.330000px;}
.y95{bottom:244.830000px;}
.y55{bottom:247.830000px;}
.y79{bottom:252.330000px;}
.y25{bottom:257.080000px;}
.y94{bottom:260.080000px;}
.y54{bottom:262.830000px;}
.y77{bottom:267.330000px;}
.y24{bottom:271.080000px;}
.y93{bottom:275.080000px;}
.y53{bottom:278.080000px;}
.y23{bottom:285.100000px;}
.y92{bottom:290.350000px;}
.y52{bottom:293.100000px;}
.y76{bottom:297.100000px;}
.y91{bottom:305.600000px;}
.y51{bottom:308.350000px;}
.y22{bottom:311.350000px;}
.y75{bottom:312.350000px;}
.y90{bottom:320.600000px;}
.y50{bottom:323.600000px;}
.y74{bottom:327.600000px;}
.y21{bottom:334.850000px;}
.y8f{bottom:335.850000px;}
.y4f{bottom:338.600000px;}
.y73{bottom:342.600000px;}
.y20{bottom:345.850000px;}
.y4e{bottom:353.850000px;}
.y71{bottom:357.850000px;}
.y1e{bottom:359.850000px;}
.y8e{bottom:363.380000px;}
.y4d{bottom:368.880000px;}
.y70{bottom:372.880000px;}
.y1d{bottom:373.630000px;}
.y4c{bottom:384.130000px;}
.y8d{bottom:387.130000px;}
.y1c{bottom:387.630000px;}
.y6f{bottom:388.130000px;}
.y4b{bottom:399.130000px;}
.y1b{bottom:401.630000px;}
.y6e{bottom:403.380000px;}
.y8c{bottom:414.130000px;}
.y4a{bottom:414.380000px;}
.y1a{bottom:415.380000px;}
.y6c{bottom:418.380000px;}
.y19{bottom:429.380000px;}
.y49{bottom:429.630000px;}
.y18{bottom:443.900000px;}
.y48{bottom:444.650000px;}
.y6b{bottom:448.150000px;}
.y17{bottom:458.400000px;}
.y8b{bottom:459.650000px;}
.y47{bottom:459.900000px;}
.y6a{bottom:463.400000px;}
.y16{bottom:473.150000px;}
.y46{bottom:474.900000px;}
.y69{bottom:478.400000px;}
.y15{bottom:487.650000px;}
.y8a{bottom:489.900000px;}
.y45{bottom:490.150000px;}
.y68{bottom:493.650000px;}
.y14{bottom:502.150000px;}
.y89{bottom:505.150000px;}
.y44{bottom:505.400000px;}
.y67{bottom:508.900000px;}
.y11{bottom:516.650000px;}
.y43{bottom:520.420000px;}
.y66{bottom:523.920000px;}
.y42{bottom:535.670000px;}
.y10{bottom:535.920000px;}
.y64{bottom:539.170000px;}
.y88{bottom:547.670000px;}
.yd{bottom:550.420000px;}
.y41{bottom:564.170000px;}
.yc{bottom:565.170000px;}
.y61{bottom:568.930000px;}
.y87{bottom:571.670000px;}
.ya{bottom:579.670000px;}
.y86{bottom:583.680000px;}
.y40{bottom:587.670000px;}
.y8{bottom:594.180000px;}
.y3f{bottom:598.700000px;}
.y6{bottom:608.200000px;}
.y3e{bottom:613.950000px;}
.y3d{bottom:628.950000px;}
.y5{bottom:633.950000px;}
.y3c{bottom:644.200000px;}
.y4{bottom:656.450000px;}
.y3b{bottom:659.450000px;}
.y38{bottom:674.450000px;}
.y3{bottom:679.970000px;}
.y37{bottom:689.720000px;}
.y36{bottom:704.720000px;}
.y2{bottom:706.470000px;}
.hb{height:13.250000px;}
.hc{height:13.275000px;}
.h4{height:13.500000px;}
.h5{height:13.515000px;}
.hf{height:13.525000px;}
.h6{height:14.000000px;}
.ha{height:14.025000px;}
.h8{height:14.250000px;}
.h1b{height:14.490000px;}
.h11{height:14.500000px;}
.h1d{height:14.515000px;}
.h15{height:14.525000px;}
.h10{height:14.750000px;}
.h12{height:14.775000px;}
.h14{height:15.750000px;}
.h9{height:18.775000px;}
.h19{height:29.250000px;}
.h18{height:29.265000px;}
.h1a{height:29.275000px;}
.h1e{height:32.765625px;}
.h7{height:41.156250px;}
.hd{height:43.763672px;}
.h3{height:45.052734px;}
.h16{height:47.742188px;}
.he{height:49.148438px;}
.h2{height:55.699219px;}
.h1c{height:490.500000px;}
.h1{height:542.000000px;}
.h17{height:635.000000px;}
.h13{height:642.000000px;}
.h0{height:792.000000px;}
.w3{width:233.600000px;}
.w5{width:238.100000px;}
.w4{width:239.600000px;}
.w7{width:468.500000px;}
.w6{width:473.000000px;}
.w1{width:474.500000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x7{left:5.250000px;}
.x0{left:72.000000px;}
.x4{left:91.305000px;}
.x6{left:105.040000px;}
.x2{left:161.579991px;}
.x8{left:239.849991px;}
.x3{left:268.349991px;}
.x5{left:306.630000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.344000pt;}
._1{width:1.376000pt;}
.fs3{font-size:42.666667pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.y1{bottom:0.000000pt;}
.y7{bottom:4.000000pt;}
.y9{bottom:4.026667pt;}
.y1f{bottom:4.040000pt;}
.y63{bottom:4.320000pt;}
.ye{bottom:4.333333pt;}
.y32{bottom:4.346667pt;}
.y3a{bottom:4.360000pt;}
.y72{bottom:4.373333pt;}
.yb{bottom:4.666667pt;}
.yf{bottom:5.000000pt;}
.y2b{bottom:5.666667pt;}
.y31{bottom:5.680000pt;}
.y39{bottom:5.693333pt;}
.y12{bottom:10.360000pt;}
.y13{bottom:11.360000pt;}
.y65{bottom:23.666667pt;}
.y62{bottom:23.986667pt;}
.y6d{bottom:24.000000pt;}
.y78{bottom:24.026667pt;}
.y35{bottom:104.000000pt;}
.y5f{bottom:104.366667pt;}
.y0{bottom:106.666667pt;}
.y34{bottom:107.033333pt;}
.y60{bottom:113.333333pt;}
.y84{bottom:114.033333pt;}
.y5e{bottom:124.700000pt;}
.y33{bottom:127.033333pt;}
.y83{bottom:134.360000pt;}
.y5d{bottom:145.026667pt;}
.y30{bottom:147.360000pt;}
.y82{bottom:154.360000pt;}
.y5c{bottom:165.066667pt;}
.y2f{bottom:167.733333pt;}
.y81{bottom:174.733333pt;}
.y5b{bottom:185.400000pt;}
.y2e{bottom:187.733333pt;}
.y80{bottom:194.733333pt;}
.y9a{bottom:200.400000pt;}
.y5a{bottom:205.400000pt;}
.y2d{bottom:208.066667pt;}
.y7f{bottom:215.066667pt;}
.y59{bottom:225.733333pt;}
.y99{bottom:226.733333pt;}
.y2c{bottom:228.066667pt;}
.y7e{bottom:235.400000pt;}
.y2a{bottom:248.400000pt;}
.y7d{bottom:255.400000pt;}
.y98{bottom:258.400000pt;}
.y58{bottom:262.400000pt;}
.y29{bottom:268.733333pt;}
.y7c{bottom:275.773333pt;}
.y28{bottom:287.106667pt;}
.y97{bottom:290.440000pt;}
.y57{bottom:294.106667pt;}
.y7b{bottom:295.773333pt;}
.y27{bottom:305.773333pt;}
.y85{bottom:306.000000pt;}
.y96{bottom:306.440000pt;}
.y56{bottom:310.106667pt;}
.y7a{bottom:316.106667pt;}
.y26{bottom:324.440000pt;}
.y95{bottom:326.440000pt;}
.y55{bottom:330.440000pt;}
.y79{bottom:336.440000pt;}
.y25{bottom:342.773333pt;}
.y94{bottom:346.773333pt;}
.y54{bottom:350.440000pt;}
.y77{bottom:356.440000pt;}
.y24{bottom:361.440000pt;}
.y93{bottom:366.773333pt;}
.y53{bottom:370.773333pt;}
.y23{bottom:380.133333pt;}
.y92{bottom:387.133333pt;}
.y52{bottom:390.800000pt;}
.y76{bottom:396.133333pt;}
.y91{bottom:407.466667pt;}
.y51{bottom:411.133333pt;}
.y22{bottom:415.133333pt;}
.y75{bottom:416.466667pt;}
.y90{bottom:427.466667pt;}
.y50{bottom:431.466667pt;}
.y74{bottom:436.800000pt;}
.y21{bottom:446.466667pt;}
.y8f{bottom:447.800000pt;}
.y4f{bottom:451.466667pt;}
.y73{bottom:456.800000pt;}
.y20{bottom:461.133333pt;}
.y4e{bottom:471.800000pt;}
.y71{bottom:477.133333pt;}
.y1e{bottom:479.800000pt;}
.y8e{bottom:484.506667pt;}
.y4d{bottom:491.840000pt;}
.y70{bottom:497.173333pt;}
.y1d{bottom:498.173333pt;}
.y4c{bottom:512.173333pt;}
.y8d{bottom:516.173333pt;}
.y1c{bottom:516.840000pt;}
.y6f{bottom:517.506667pt;}
.y4b{bottom:532.173333pt;}
.y1b{bottom:535.506667pt;}
.y6e{bottom:537.840000pt;}
.y8c{bottom:552.173333pt;}
.y4a{bottom:552.506667pt;}
.y1a{bottom:553.840000pt;}
.y6c{bottom:557.840000pt;}
.y19{bottom:572.506667pt;}
.y49{bottom:572.840000pt;}
.y18{bottom:591.866667pt;}
.y48{bottom:592.866667pt;}
.y6b{bottom:597.533333pt;}
.y17{bottom:611.200000pt;}
.y8b{bottom:612.866667pt;}
.y47{bottom:613.200000pt;}
.y6a{bottom:617.866667pt;}
.y16{bottom:630.866667pt;}
.y46{bottom:633.200000pt;}
.y69{bottom:637.866667pt;}
.y15{bottom:650.200000pt;}
.y8a{bottom:653.200000pt;}
.y45{bottom:653.533333pt;}
.y68{bottom:658.200000pt;}
.y14{bottom:669.533333pt;}
.y89{bottom:673.533333pt;}
.y44{bottom:673.866667pt;}
.y67{bottom:678.533333pt;}
.y11{bottom:688.866667pt;}
.y43{bottom:693.893333pt;}
.y66{bottom:698.560000pt;}
.y42{bottom:714.226667pt;}
.y10{bottom:714.560000pt;}
.y64{bottom:718.893333pt;}
.y88{bottom:730.226667pt;}
.yd{bottom:733.893333pt;}
.y41{bottom:752.226667pt;}
.yc{bottom:753.560000pt;}
.y61{bottom:758.573333pt;}
.y87{bottom:762.226667pt;}
.ya{bottom:772.893333pt;}
.y86{bottom:778.240000pt;}
.y40{bottom:783.560000pt;}
.y8{bottom:792.240000pt;}
.y3f{bottom:798.266667pt;}
.y6{bottom:810.933333pt;}
.y3e{bottom:818.600000pt;}
.y3d{bottom:838.600000pt;}
.y5{bottom:845.266667pt;}
.y3c{bottom:858.933333pt;}
.y4{bottom:875.266667pt;}
.y3b{bottom:879.266667pt;}
.y38{bottom:899.266667pt;}
.y3{bottom:906.626667pt;}
.y37{bottom:919.626667pt;}
.y36{bottom:939.626667pt;}
.y2{bottom:941.960000pt;}
.hb{height:17.666667pt;}
.hc{height:17.700000pt;}
.h4{height:18.000000pt;}
.h5{height:18.020000pt;}
.hf{height:18.033333pt;}
.h6{height:18.666667pt;}
.ha{height:18.700000pt;}
.h8{height:19.000000pt;}
.h1b{height:19.320000pt;}
.h11{height:19.333333pt;}
.h1d{height:19.353333pt;}
.h15{height:19.366667pt;}
.h10{height:19.666667pt;}
.h12{height:19.700000pt;}
.h14{height:21.000000pt;}
.h9{height:25.033333pt;}
.h19{height:39.000000pt;}
.h18{height:39.020000pt;}
.h1a{height:39.033333pt;}
.h1e{height:43.687500pt;}
.h7{height:54.875000pt;}
.hd{height:58.351562pt;}
.h3{height:60.070312pt;}
.h16{height:63.656250pt;}
.he{height:65.531250pt;}
.h2{height:74.265625pt;}
.h1c{height:654.000000pt;}
.h1{height:722.666667pt;}
.h17{height:846.666667pt;}
.h13{height:856.000000pt;}
.h0{height:1056.000000pt;}
.w3{width:311.466667pt;}
.w5{width:317.466667pt;}
.w4{width:319.466667pt;}
.w7{width:624.666667pt;}
.w6{width:630.666667pt;}
.w1{width:632.666667pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x7{left:7.000000pt;}
.x0{left:96.000000pt;}
.x4{left:121.740000pt;}
.x6{left:140.053333pt;}
.x2{left:215.439988pt;}
.x8{left:319.799988pt;}
.x3{left:357.799988pt;}
.x5{left:408.840000pt;}
}
